.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #393838;
  box-shadow: 0 0 2px black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.header-links-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(158, 156, 156);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-weight: 500;
}

.header-link:hover {
  color: white;
}

.header-search-input {
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.2s ease-in-out;
}

.header-search-input:focus {
  border: 2px solid rgb(59, 118, 234);
}

.header-search-button {
  outline: none;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: border 0.2s ease-in-out;
  background-color: rgb(96, 99, 99);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
